/* Add this CSS to your stylesheets or in-line style */

body {
    margin: 0; /* Remove default body margin */
    font-family: 'Helvetica', sans-serif; /* Change the font family for the entire body */
}

.login {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Add box shadow for a subtle lift */
    background: url('https://cdn.pixabay.com/photo/2017/08/06/22/01/books-2596809_1280.jpg') center/cover no-repeat;
}

.login form {
    background-color: rgba(255, 255, 255, 0.9); /* Adjust the alpha value for transparency */
    padding: 20px;
    border-radius: 8px;
}

.login h3 {
    text-align: center;
    color: #2c3e50; /* Dark blue color for the heading */
    font-family: 'Georgia', serif; /* Change the font family for the heading */
}

.form-control {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #3498db; /* Border color for input fields */
    border-radius: 4px;
}

.custom-input-label {
    margin-left: 5px;
}

.d-grid {
    margin-top: 15px;
}

.custom-input-label {
    display: flex;
    align-items: center;
}

.text-left a, .text-right a {
    margin-left: 10px;
    color: #3498db; /* Blue color for the links */
    text-decoration: none; /* Remove underlines from links */
    font-weight: bold; /* Make the links bold */
}

.text-left a:hover, .text-right a:hover {
    text-decoration: underline; /* Underline the links on hover */
}
